/* Tag-specific */
html{
	font-size: 100%;	
}
 
body{
	font: 0.75em/1.5em Arial, Helvetica, sans-serif;
}
 
code{
	font-size: 100%;
	font-family: Monaco, "Courier New", Tahoma;
}
 
input, select, textarea{
	font-size: 100%;
}
 
h1{
	font: 1.6em/1.3em Arial, Helvetica, sans-serif;	
}
 
h2{
	font: 1.6em/1.3em Arial, Helvetica, sans-serif;	
}
 
h3{
	font: bold 1.25em/1em Arial, Helvetica, sans-serif;	
}
 
h4{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}
 
h5{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}