/* Tag-specific */
html{
	font-size: 100%;	
}
 
body{
	font: 0.75em/1.5em "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
 
code{
	font-family: Monaco, "Courier New", Tahoma;
}

pre code{
	font-size: 100%;
}
 
input, select, textarea{
	font-size: 100%;
}
 
h1{
	font: 2em/1.3em Arial, Helvetica, sans-serif;	
}
 
h2{
	font: 1.8em/1.3em Arial, Helvetica, sans-serif;	
}
 
h3{
	font: bold 1.25em/1em Arial, Helvetica, sans-serif;	
}
 
h4{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}
 
h5{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}