pre{
	width: 98%;
	padding: 2%;
	overflow-x: auto;
	overflow-y: visible;
}

#header h1{
	width: 233px;
	height: 27px;
}

#navigation ul{
	bottom: -2px;
}

#content-areas, #content-areas-inner{
	zoom: 1;
}

.content-block{
	height: 440px;
}

#get-your-copy{
	width: 146px;
	height: 147px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/get-your-copy.png',sizingMethod='crop');
}

#get-your-copy img{
	display: none;
}