/* Fonts */
html{
	font-size: 100%;	
}
 
body{
	font: 0.75em/1.5em "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
 
code{
	font-family: Monaco, "Courier New", Tahoma;
}

pre code{
	font-size: 100%;
}
 
input, select, textarea{
	font-size: 100%;
}
 
h1{
	font: 2em/1.3em Arial, Helvetica, sans-serif;	
}
 
h2{
	font: 1.8em/1.3em Arial, Helvetica, sans-serif;	
}
 
h3{
	font: bold 1.25em/1em Arial, Helvetica, sans-serif;	
}
 
h4{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}
 
h5{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}

/* Tag-specific */
html, body, form, fieldset, li, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, input{
	margin: 0;
	padding: 0;
}

dl, p{
	margin: 0 0 1em;
}

ul, ol{
	margin: 0 0 1em 3em;
}

a{
	color: #000;
}

a:hover{
	color: #fff;
	background: #000;
}

body{
	color: #2b2b2b;
	background: #fff;
	padding: 1em 0;
}

blockquote{
	color: #000;
	background: #fff;
	margin: 1em;
	padding: 1em;
}

dd{
	margin-bottom: 1.5em;
}

dl{
	margin: 1em 2em;
}

dt{
	font-weight: bold;
	margin-bottom: 0.5em;
}

h1, h2, h3, h4{
	margin-bottom: 1em;
}

h1 a{
	color: #000;
	text-decoration: none;
}

h2, h3{
	margin: 1em 0;
}

h4{
	margin: 0 0 1em;
	padding-top: 1.5em;
}

form label{
	cursor: pointer;
}

img{
	border: none;
}

input{
	width: 100%;
	vertical-align: middle;
}

pre{
	/*width: 99%;*/
	background: #eee;
	padding: 1em;
	overflow: auto;
}

table{
	width: 200%;
}

td{
	width: 60%;
	padding: 0.2em 0 0.2em 0;
}

th{
	text-align: left;
	vertical-align: top;
	padding: 0.2em 1em 0.2em 0;
}

thead th{
	font-size: 1.1em;
	border-bottom: 1px solid #2b2b2b;
}

tr.first-row td, tr.first-row th{
	padding-top: 1em;
}

.code{
	background: #eee;
	padding: 1em;
	overflow: auto;
}

/* Header */
#header{
	border-bottom: 1px solid #d6d3d3;
}

#header h1{
	position: relative;
	min-width: 233px;
	min-height: 27px;
	margin: 0.5em 0 0;
}

#header h1 span{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff url(../images/logo.png) no-repeat;
}

#header h1 a:hover{
	background: transparent;
}

#header-content{
	width: 975px;
	margin: 0 auto;
}

#navigation{
	text-align: center;
}

#navigation ul{
	display: inline;
	position: relative;
	bottom: -4px;
	background: #fff;
	margin: 0;
	padding: 0 0.5em;
}

#navigation li{
	display: inline;
}

#navigation li.last{
	display: inline;
	padding-right: 0;
	border-right: none;
}

#navigation a{
	color: #484256;
	padding: 0 6px 0 3px;
}

#navigation a.selected{
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
}

#navigation a:hover{
	color: #fff;
}

/* Main content */
#main-content{
	background: #eee;
	padding: 4em 0;
	border: 1px solid #fff;
	border-width: 1px 0;
}

#content{
	position: relative;
	width: 975px;
	/*background: url(../images/content-page-bg.png) repeat-y;*/
	margin: 0 auto;
}

#content-areas{
	/*border: 1px solid #000;*/
	overflow: hidden;
	min-height: 400px;
	background: #fff url(../images/sidebar-bg.jpg) no-repeat right top;
	/*background: url(../images/content-page-start-bg.png) no-repeat;*/
}

#main-content-area{
	float: left;
	width: 596px;
	background: #fff;
	padding: 18px;
	overflow: hidden;
}

#sidebar{
	float: right;
	width: 287px;
	color: #fff;
	padding: 18px 18px 70px;
	overflow: hidden;
}

#sidebar a{
	color: #fff;
}

#content-areas-inner{
	overflow: hidden;
	/*background: url(../images/content-page-end-bg.png) no-repeat left bottom;*/
}

#start-page #content{
	/*background: url(../images/content-bg.png) repeat-y;*/
}

#start-page #content-areas{
	/*background: url(../images/content-start-bg.png) no-repeat;*/
}

#start-page #content-areas-inner{
	/*background: url(../images/content-end-bg.png) no-repeat left bottom;*/
}

#content-areas h1, #content-areas h2{
	/*text-align: center;*/
}

.content-block{
	float: left;
	width: 287px;
	min-height: 440px;
	color: #fff;
	background: #484256;
	margin-right: 3px;
	padding: 18px;
	overflow: hidden;
}

.focused-block, .focused-block a{
	color: #484256;
	background: #fff;
}

.last-content-block{
	margin-right: 0;
}

.nav-bullet-lists ul, .focused-block ul{
	list-style: none;
	margin-left: 0;
}

.nav-bullet-lists li, .focused-block li{
	margin-bottom: 0.25em;
}

.plugin-presentation{
	width: 100%;
}

/* Download box */
#download dl{
	margin: 0;
}

#download dt{
	font-weight: normal;
	margin-bottom: 0;
}

#download dd{
	font-style: italic;
	margin-bottom: 1.5em;
}

/* Get your copy */
#get-your-copy{
	position: absolute;
	left: 845px;
	bottom: -60px;
}

#get-your-copy a:hover{
	background: transparent;
}

/* Footer */
#footer{
	color: #2b2b2b;
	font-size: 0.9em;
	border-top: 1px solid #000;
	margin: 0 0 3em;
	padding: 1em 0 0;
}

#footer{
	text-align: center;
	border-top: 1px solid #d6d3d3;
}

#footer-content{
	width: 975px;
	margin: 0 auto;
}