body{
	text-align: center;
}

pre{
	overflow-x: auto;
	overflow-y: visible;
}

div#container{
	text-align: left;
}

.glt-elm{
	text-align: left;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}