/* Tag-specific */
html{
	font-size: 100%;	
}

body{
	font: 0.75em/1.25em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #fff;
}

code{
	font: 1.25em/1.5em Courier;
}

input, select, textarea{
	font-size: 100%;
}

h1{
	font: 2em/1em Arial, Helvetica, sans-serif;
}

h2{
	font: 2em/1.3em Arial, Helvetica, sans-serif;	
}

h3{
	font: bold 1.75em/1em Arial, Helvetica, sans-serif;	
}

#navigation h3{
	font: bold 1.5em/1em Arial, Helvetica, sans-serif;	
}

h4{
	font: bold 1.5em/1em Arial, Helvetica, sans-serif;	
}

#navigation h4{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}

h4 code{
	font: 1em/1em Arial, Helvetica, sans-serif;	
}

h5{
	font: bold 1em/1em Arial, Helvetica, sans-serif;	
}
